@media (max-width: 800px) {
  .text {
    font-size: var(--mobile-logo-size);
    font-weight: bold;
  }
  .links {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .links {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    gap: 5px;
    transform: translateX(-200%);
    transition: transform 0.5s ease-in-out;
  }

  .links.active {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  .hero {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }
  .hero-food {
    display: flex;
    width: 80%;
    align-items: center;
    position: relative;
  }
  .circle {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 40%;
  }
  .hero-food img {
    position: absolute;
    top: 0;
    width: 320px;
    height: 320px;
    bottom: 10%;
    margin-bottom: 10px;
  }
  .hero-text {
    margin-top: 60px;
    gap: 20px;
  }
  .hero-text h1 {
    font-weight: 700;
  }

  .hero-text h1,
  .hero-text h2 {
    font-size: var(--mobile-hero-font-size);
  }
  .hero-text h2 {
    font-weight: 500;
    font-size: 25px;
  }
  .description {
    font-size: 18px;
    text-align: center;
    text-wrap: wrap;
  }
  .btn-div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  .btn {
    font-weight: 550;
    width: 80%;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
  }
  .menu-item {
    min-width: 95%;
    margin: 0 2px;
    margin-bottom: 10px;
  }
  .review-container {
    display: flex;
    flex-direction: column;
  }
  .review-item {
    width: 100%;
    margin-bottom: 10vh;
  }
  .review-text {
    margin-top: 15vh;
  }
  #about {
    margin: 0 auto;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    align-items: center;
  }
  .about-photo {
    margin-top: 5vh;
    width: 300px;
    height: 300px;
    margin-left: 25px;
  }
  .about-photo img {
    width: 300px;
    height: 300px;
    top: 0;
  }
  .about-text {
    width: 100%;
    padding: 0 10px;
    font-size: 18px;
    margin-left: 25px;
  }
  .about-icons {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .about-icon {
    width: 90%;
    margin-left: 30px;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-form {
    width: 90%;
    margin: 0 auto;
  }
  .contact-form form {
    gap: 15px;
  }
  .whitespace {
    height: 100px;
  }
}
