@media (max-width: 768px) {
  .text {
    font-size: var(--mobile-logo-size);
    font-weight: bold;
  }
  .links {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .links {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    gap: 5px;
    transform: translateX(-200%);
    transition: transform 0.5s ease-in-out;
  }

  .links.active {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  #home {
  }
  .hero {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .hero-food {
    order: -1;
    width: 100%;
    height: fit-content;
    position: relative;
    margin-bottom: 0;
  }
  .circle {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 40%;
  }
  .hero-food img {
    position: absolute;
    width: 320px;
    height: 320px;
    top: 10%;
  }
  .hero-text {
    gap: 8px;
  }
  .hero-text h1 {
    font-weight: 700;
  }

  .hero-text h1,
  .hero-text h2 {
    font-size: var(--mobile-hero-font-size);
  }
  .hero-text h2 {
    font-weight: 500;
    font-size: 30px;
  }
  .description {
    font-size: 18px;
    text-align: center;
    text-wrap: wrap;
  }
  .btn-div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  .btn {
    font-weight: 550;
    width: 80%;
  }
}
