@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #ff8f00;
  --background-color: #fbf8f2;
  --secondary-color: #fdf0de;
  --desktop-logo-size: 20px;
  --mobile-logo-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  font-family: "Poppins";
}
.logo {
  position: relative;
  padding: 8px;
  width: 100%;
}
.logo-img {
  width: 6rem;
  height: 6rem;
}
.tagline {
  position: absolute;
  bottom: 23%;
}
.slogan {
  font-size: small;
}
.text {
  font-size: var(--desktop-logo-size);
  font-weight: bold;
}
header {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}
nav {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.text .express {
  color: var(--primary-color);
}
.text .bite {
  color: black;
}
.slogan::before {
  content: "── ";
  color: var(--primary-color);
}
.slogan::after {
  content: "   ──";
  color: var(--primary-color);
}
.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.links li {
  list-style: none;
}
.links a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
}
.links a.active {
  color: var(--primary-color);
}
.hamburger {
  display: none;
}
.nav-link {
  position: relative;
  text-decoration: none;
  color: #000;
  padding: 5px 0;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--primary-color);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

/* Media Queries */
/* Mobile devices */
@media (max-width: 768px) {
  .text {
    font-size: var(--mobile-logo-size);
    font-weight: bold;
  }
  .links {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .links {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    gap: 5px;
    transform: translateY(-200%);
    transition: transform 0.5s ease;
  }

  .links.active {
    transform: translateY(0);
  }

  .hamburger {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}
