@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #ff8f00;
  --background-color: #fbf8f2;
  --secondary-color: #fdf0de;
  --desktop-logo-size: 23px;
  --mobile-font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  font-family: "Poppins";
}
.logo {
  position: relative;
  padding: 8px;
  width: 100%;
}
.logo-img {
  width: 7rem;
  height: 7rem;
}
.tagline {
  position: absolute;
  bottom: 23%;
}
.slogan {
  font-size: small;
}
.text {
  font-size: var(--desktop-logo-size);
  font-weight: bold;
}
header {
  display: flex;
  align-items: center;
}
nav {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.text .express {
  color: var(--primary-color);
}
.text .bite {
  color: black;
}
.slogan::before {
  content: "── ";
  color: var(--primary-color);
}
.slogan::after {
  content: "   ──";
  color: var(--primary-color);
}
